project/*
target/*
test_run_dir/*
generated/*.json
generated/*.fir
*bat
vivado/project_1/*.log
vivado/project_1/*.jou
vivado/project_1/project_1.runs/*
vivado/project_1/project_1.cache/*
vivado/project_1/project_1.hw/*
vivado/project_1/*.str
*.dat
